@{
    ViewBag.Title = "Contact";

}
<style>
    .namecontact {
         display: block;
    margin: auto;
        border: 3px solid ;
        font-size: 18px;
        background-color: white;
        width:40%;
        height:30px;
        }
     .emailcontact {
          display: block;
    margin: auto;
    border: 3px solid ;
        font-size: 18px;
        background-color: white;
        width:40%;
        height:30px;
    }

      .subjectcontact {
           display: block;
    margin: auto;
    border: 3px solid ;
        font-size: 18px;
        background-color: white;
        width:40%;
        height:30px;
    }
       .messagecontact {
           display: block;
    margin: auto;
    border: 3px solid ;
        font-size: 18px;
        background-color: white;
        width:40%;
        height:100px;
    }
       .title{
    display: block;
    margin: auto; 
    height:80px;
    width:200px;
    color:aqua;
    background-color:black;
    text-align:center;
    font-size: 40px;
   
       }
       .sendbutton{

        display: block;
        margin: auto; 
        height:50px;
        width:90px;
        font-size:25px;
       }

       .sendbutton:hover {
        color:aqua;
       }
    
</style>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="title">Contact Us</div><br>

<input class="namecontact" type="text" placeholder="name" /><br>
<input class="emailcontact" type="text" placeholder="email" /><br>
<input class="subjectcontact" type="text" placeholder="subject" /><br>
<textarea class="messagecontact" placeholder="Commments or Suggestions.." cols="40" rows="5"></textarea>
<input  type="button" value="Send" class="sendbutton">
