
@{
    ViewBag.Title = "shop";
}
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    td {
        padding: 60px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {
        background-color: #f5f5f5
    }
    button{
        
    }

</style>
<h2>shop</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />


Sort by:<select>
            <option>Recommendation</option>
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
            <option>Discount</option>
            <option>Delivery Time</option>
        </select>
<table>
    <tr>
        <th>Product</th>
        <th>Items</th>
        <th>Sub Total</th>   
    </tr>
    <tr>
        <td><img src="~/Content/" /></td>
        <td>gktrho</td>
        <td>fhweirughriugh</td>
    </tr>
</table>
<br />
<button class="btn btn-sm btn-warning">Checkout</button>



