
@{
    ViewBag.Title = "shop";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th,td {
        padding: 50px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {
        background-color: #f5f5f5
    }
</style>
<h2>shop</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

Sort by:<select>
            <option>Recomendation</option>
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
            <option>Discount</option>
            <option>Delivery Time</option>
        </select>
<table>
    <tr>
        <th>Product</th>
        <th>Items</th>
        <th>Sub Total</th>   
    </tr>

</table>


